<!DOCTYPE html PUBLIC "-//WSC//DTD XHTML 1.0 Transitional //EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <title>尚书林</title>
    <link rel="shortcut icon" href="/static/ssl_app/images/ssl-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/ssl_app/styles/home_page1.css">
    
</head>
<body>
haha
<img src="/static/ssl_app/images/ssl-icon.ico" width = '50' height = '50' alt = 'haha' border = '1px'>
</body>
</html>
