@charset "utf-8";
body,dd,dl,dt,h2,h3,h4,li,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}

body{
    font:12px/1.2 arial,Tahoma,SimSun,sans-serif;
    color:#333;
    min-width:1190px;
    text-rendering:geometricPrecision
}

div{
    display: block;
}

a{
    color:#15c;
    text-decoration:none;
    cursor:pointer
}

a:hover{
    color:red;
    text-decoration:underline
}:focus{
    outline:0
}

.arrow{
    background-image:url(http://img.58cdn.com.cn/ui6/index/topbar.png?v=20120302)!important
}

#topbar{
    width:100%;
    height:27px;
    background:#f5f5f5;
    color:#666;
    font:12px/2 Arial,Tahoma,"宋体";
    border-bottom:1px solid #ddd;
    line-height: 27px;
}

#topbar .w,#topbar .warp{
    clear:both;
    line-height:27px;
    width:1190px;
    margin:0 auto;
}

#topbar .w{
    background:#f5f5f5;
    height:27px;
    border-bottom:1px solid #ddd;
    position:relative;
}

.pos{
    position:relative;
    z-index:999
}

#topbar input,#topbar p,#topbar ul{
    margin:0;
    padding:0
}

#topbar li{
    list-style:none
}

#topbar a{
    text-decoration:none
}

#topbar a:hover{
    text-decoration:underline
}.hc{
    display:none
}.sc{
    display:block
}
#topbar input{
    font-family:Tahoma;
    font-size:12px
}

#myfeet p a,#sitemapBox strong a,#topbar .mapfuc a{
    color:#00c
}

#topbar a:hover{
    color:red
}.bar_left{
    float:left;
    word-spacing:1px;
    padding-left:10px;
    height:27px
}.bar_right{
    float:right
}.bar_left h2{
    display:inline;
    font-weight:500;
    font-size:14px;
    color:red;
    float:left
}.bar_left .tuan{
    display:inline-block;
    position:relative;
    padding-right:30px
}

.weather{
    float:left;
    margin-left:15px;
    position:relative;
    word-spacing:0
}

.wt img{
    margin:0 8px 0 0;
    width:19px;
    height:21px;
    vertical-align:middle
}
.wt em{
    _zoom:1;
    font-style:normal
}

.wt .wTemp{
    position:relative;
    top:1px
}

.today_lv{
    margin:0 0 0 10px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat;
    padding:0 3px;
    display:inline-block;
    _display:inline;
    _zoom:1;
    line-height:16px;
    color:#fff
}

.today_lv_1{
    background-position:0 -442px
}

.today_lv_0{
    background-position:-56px -442px
}

.wb{
    border:1px solid #e4e1e1;
    position:absolute;
    left:0;
    top:27px;
    z-index:1000;
    background:#fff;
    width:470px;
    line-height:20px;
    display:none
}

#login,#topbar .haschild{
    float:left
}.arrow,.tuan sup{
    display:block;
    position:absolute;
    width:7px;
    height:4px;
    overflow:hidden;
    top:12px
}.tuan sup{
    width:26px;
    height:12px;
    top:3px;
    background:url() no-repeat 0 -102px
}.arrow{
    background:url() no-repeat 0 -156px
}.gap{
    color:#ccc;
    margin:0 6px;
    font-family:'宋体';*
    font-family:Tahoma}
.hover .hc{
    display:block;
    position:absolute;
    top:28px;zoom:1;
    border:1px solid #dcdcdc;
    border-top:0;
    background:#fff;
    padding:10px
}

#topbar .haschild{
    height:28px;
    line-height:28px;
    position:relative;
    z-index:999
}

#topbar .hover{
    background:#fff;
    border-left:solid 1px #dcdadc;
    border-right:solid 1px #dcdadc;
    z-index:999;
    margin:0 -1px
}

#topbar .hover .arrow{
    background-position:-7px -156px
}

.brandad1190{ 
    height:50px; 
    margin:0 auto 10px; 
    overflow:hidden; 
    width:1190px; 
    position:relative;
}
        
.brandad1190 .brandad990 li{ 
    height:50px;
}

.brandad1190 img{ 
    width:1190px; 
    height:50px;
}

.brandad990{ 
    height:50px; 
    margin:0 auto 10px; 
    overflow:hidden; 
    width:990px; 
    position:relative;
}

.brandad990 img{
    width:990px; 
    height:50px;
}

#navlist{
    float:left;
    margin-left:30px
}

#navlist ul li .gap{
    margin:0;float:left
}

#navlist ul{
    color:#585858
}

#navlist ul li{
    float:left;
    height:27px;
    line-height:27px
}

#navlist ul li a{
    color:#585858;
    padding:0 10px;
    float:left;
    position:relative
}

#navlist ul li a:hover{
    color:red
}

#navlist li i.phone{
    width:9px;
    height:13px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat -26px -34px;
    display:inline-block;
    margin-right:5px;
    float:left;
    margin-top:7px
}

#navlist li a i{
    width:11px;
    height:11px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat;
    display:inline-block
}

#navlist li a i.n{
    position:absolute;
    background-position:-66px -34px;right:-2px;top:0
}

#header{
    background:#fff;
    position:relative;
    width:100%;
    z-index:999;
    top:5;
    height:65px;
    overflow:hidden;
}

#headerinside{
    height:70px;
    position:relative;
    z-index:666;
    margin-top:5px
}

#footer,#headerinside,.morelink{
    background:#fff;
    width:1190px;
    margin:0 auto;
    clear:both
}

#logo{
    position:absolute;
    left:0;
    top:10px
}

#searchbar{
    position:absolute;
    left:407px;
    top:11px;
    line-height:26px;
    overflow:hidden
}

#searchbar i{
    font-style:normal
}

#searkey{
    background:#fff;
    height:30px;
    padding-left:13px;
    float:left;
    overflow:hidden;
    border:2px solid #F78015;
    border-right:0
}

#key{
    background:#fff;
    height:30px;
    line-height:34px;
    float:left
}

#keyword{
    background:0 0;
    width:450px;
    height:22px;
    font-size:14px;
    line-height:22px;
    padding:4px 2px 4px 0;
    border:0;
    float:left;
    display:inline-block;
    overflow:hidden
}

.keyword{
    color:#c8c8c8
}

#keyword.keyword2{
    background-position:0 50px;
    color:#292929
}

.inputcon{
    float:left;
    height:34px;
    overflow:hidden
}

.inputcon input:active{
    background:#eb6d13
}

input.btnal2,input.btnall{
    -webkit-appearance:none;
    -webkit-border-radius:0;
    height:34px;
    line-height:34px;
    font-size:14px;
    font-weight:700;
    border:0;
    cursor:pointer;
    overflow:hidden;
    text-align:center;
    color:#fff;
    float:left;
    margin:0;
    padding:0 20px;
    +padding:0 10px
}

input.btnall{
    background:#f78015
}

input.btnal2{
    background:#eb6d13
}

.search-fix .search-no{
    display:none;
    visibility:hidden;
}

#hot,.hot2{
    float:left
}

#hot a,.hot2 a{
    margin-right:10px;
    color:#666;
    float:left
}
#hot a{
    display:none
}

.hot3{
    float:left
}

.hot3 a{
    margin-right:10px;
    color:#666;
    float:left
} 

#fabu{
    position:absolute;
    right:0px;
    top:11px;
    font-weight:700;
    width:107px;
    padding-left:41px;
    height:32px;
    line-height:32px;
    border:1px solid #ffb38c;
    font-size:14px;
    color:#e50;
    text-align:left;
    cursor:pointer;
    background-position:0 -373px;
}

a:hover #fabu{
    background-position:0 -406px;
    text-decoration:none
}

#fabu i{
    width:15px;
    height:15px;
    position:absolute;
    top:9px;left:20px;
    background-position:0 -34px;
    display:inline-block;
    overflow:hidden
}

#delinfo{
    position:absolute;
    top:52px;
    right:30px;
    color:#666;
}

.hShadow{
    position:fixed; 
    top:65px;
    width:100%;
    font-size:0;
    line-height:0;
    height:6px;
    overflow:hidden;
    background-color: #fff;
    display:none;
    z-index:999
}

.search-fix .hShadow{
    display:block
}

.navcon{
    width:1190px;
    height:38px;
    display:block;
    position:relative;
    margin:0 auto;
    margin-top: 8px;
    z-index:99;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) repeat-x 0 -153px;
}

.nav{
    border:1px 
    solid #dbdbdd;
    border-width:0 1px;
    height:35px;
    line-height:35px;
    padding-left:8px;
}

.nav li{
    float:left;
    margin:0 1px;
    padding-top:1px;
    height:34px;
    line-height:34px;
    display:inline;
    position:relative
}

.nav li a{
    color:#000;
    padding:0 10px;
    display:block;
    font-size:14px
}

.nav li.on{
    background:#ed7612;
    border:1px solid #d50;
    border-bottom:0
}

.nav li.on a{
    color:#fff;
    font-weight:700
}

.cb{
    border:1px solid #dadbdf;
    border-top:0;
    width:1188px;
    margin:0 auto;
    clear:both;
    overflow:hidden;
    position:relative
}

#page{
    width: 100%;
    margin:auto;
}

#content{
    width: 1190px;
    margin: 0 auto;
}

.lbsear {
    position: relative;
    float: left;
    display: inline;
    width: 188px;
    border: 1px solid #f9b38c;
    background: #fff9f2;
    margin-right: 6px;
    margin-top: 10px;
    padding: 10px 0;
    height: 232px;
}

.lbsear h2 {
    padding: 0 0 0 15px;
    margin-bottom: 6px;
    font: 700 16px/22px Arail;
    color: #333;
    border-left: 3px solid #e50;
}

.ym-tab {
    background: url(http://pic2.58.com/ui7/ershou/index/i_arr_orange.png) no-repeat 175px 13px;
    float: left;
    width: 188px;
    clear: left;
    height: 30px;
    line-height: 30px;
    text-indent: 18px;
    color: #00c;
    border-top: none;
}

.ym-tab .dlb {
    font-size: 12px;
    color: #dcdde0;
}

.ym-tab .dlb a, .current .dlb a {
font-size: 12px;
color: #585858;
}

.first-glance{
    margin-left:200px;
    overflow:hidden;
}

.index-slider{
    margin:0;
    height: 264px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}

.loading{
    background:url(http://img01.taobaocdn.com/tps/i1/T1cKm3XkRpXXXXXXXX-48-48.gif) no-repeat 50% 50%;
}

.col{
    float: left;
    display: inline;
    zoom:1;
}

.slider-list{
    width: 640px; 
    overflow: hidden; 
    height: 274px;
}

.slide-home{
    position: absolute; 
    overflow: hidden; 
    width: 2560px; 
    -webkit-transition: 0.8s; 
    transition: 0.8s; 
    -webkit-transform: translate3d(-640px, 0px, 0px); 
    -webkit-backface-visibility: hidden; opacity: 1;
}

.slider-home textarea{
    display: none;
}

.item{
    float: left; 
    overflow: hidden; 
    width: 640px; 
    display: block;
}

.tab-nav{
    position: absolute;
    bottom: 8px;
    left: 10px;
}

.clearfix{
    zoom:1;
}

.tab-nav ul{
    list-style-type: circle;
}

.tab-nav li{
    float: left;
    width: 11px;
    height: 11px;
    text-indent: -9999px;
    margin-right: 5px;
    cursor: pointer;
    background: url(http://gtms01.alicdn.com/tps/i1/T19QDUFd4bXXcCqEQx-66-154.png) no-repeat;
}

.tab-nav li.selected{
    background-position: 0 -61px;
}

.idle-start{
    margin-left: 10px;
    width: 318px;
    position: relative;
    height: 265px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    text-align: center;
}

.col{
    float: left;
    display: inline;
    zoom:1;
}

.extend{
    height: 70px;
    background-color: #f4f4f4;
}

.idle-start .extend .mod{
    float: left;
    width: 144px;
    height: 70px;
    margin-left: 10px;
}

.idle-start .extend .mod a{
    display: block;
    padding: 5px 0;
    border:1px solid #efefef;
    margin-left: 9px;
    margin-top: 6px;
    text-align: center;
    background-color: #fff;
}

.idle-start .extend .mod a .main-title{
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    background: url(http://gtms03.alicdn.com/tps/i3/TB1Bf4pFVXXXXcvXpXX1ka_.VXX-91-199.png) no-repeat 85px -99px;
}

.idle-start .extend .mod a .subtitle {
    display: block;
    color: #999;
}

.on-selling{
    width: 278px;
    height: 195px;
    margin-left: 20px;
}

.on-selling h3 {
    text-align: left;
    display: block;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    font-weight: 500;
    padding-left: 8px;
    margin: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.on-selling li {
    zoom: 1;
    padding-bottom: 6px;
    height: 75px;
    position: relative;
}

.on-selling .item-pic{
    width: 75px;
    height: 75px;
    float: left;
}

.sh-pic{
    display: table;
    text-align: center;
    table-layout: fixed;
}

.sh-pic a{
    display: table-cell;
    vertical-align: middle;
}

.on-selling .item-pic img{
    max-height: 75px;
    max-width: 75px;
}

.on-selling .info{
    float: left;
    margin-left: 12px;
}

h5{
    display: block;
    text-align: left;
    font-weight: bold;
    margin:0px;
    padding: 0px;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 100%;
}

.on-selling .desc{
    width: 187px;
    height:35px;
    overflow: hidden;
    margin:0;
    padding: 0;
    display: block;
    text-align: left;
}

.on-selling .desc a{
    color: #333;
    text-decoration:none;
    cursor: auto;
}

.price-block {
    font-family: Verdana;
    font-size: 12px;
    text-align: left;
}

.price-block b{
    font-weight: 400;
    font-family: Arial,Verdana;
    padding-right: 2px;
    color: #999;
}

.price em {
    font-weight: 700;
    font-size: 14px;
    color: #f40;
}
.ad_hq,.ad_sj{
    display:none
}

.mbox{
    position:absolute;
    top:35px;
    text-align:center;
    background:#fff;
    border:1px solid #d1d1d1;
    z-index:99;
    padding:5px 0
}

.mbox ul{
    overflow:hidden
}

.mbox ul li{
    width:192px;
    float:left;
    border-left:1px dashed #e5e5e5;
    margin:0;
    position:relative;
    left:-1px;
    hei
    ght:181px
}

.search-fix #logo img{
    width:150px;
    height:40px;
    margin-top:-4px
}

.search-fix #searchbar{
    left:315px
}

.rightside{
    position:absolute;
    right:20px;top:0
}

.rightside li{
    height:35px;
    line-height:35px;
    display:inline;
    float:left;
    margin:0 10px 0 2px;
    position:relative
}

.rightside li a{
    font-size:12px;
    color:#585858;
    display:inline-block
}

.rightside li a:hover{
    color:#f05502;
    text-decoration:none
}

.rightside li i.phone{
    width:9px;
    height:13px;
    background:url(http://img.58cdn.com.cn/ui6/index/indexbg.png) no-repeat -26px -34px;
    display:inline-block;
    margin-right:5px;
    position:relative;
    top:2px;
    left:0
}

.rightside li a.on{
    color:#f05502
}