<!DOCTYPE html PUBLIC "-//WSC//DTD XHTML 1.0 Transitional //EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <title>尚书林</title>
    <link rel="shortcut icon" href="/static/images/ssl-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/home_page.css">
    
</head>
<body class = "homebody">
    <div id = "topbar">
        <div class="bar_left">
            <h2>清华大学</h2>
            <span id = "ipconfig"></span>
            <div id = "weather" class="weather" style="display:block;">
                <span class="wt">
                    <img src="http://img.58cdn.com.cn/ui6/index/weather/ws_7.jpg" alt="">
                    <em>小雨</em>&nbsp;&nbsp;
                    <em class="wTemp">17 ~ 5℃</em>
                </span>
                <span class = "today_lv today_lv_1">重度污染</span>
                <div id="weatherbox" class="wb"></div>
            </div>
        </div>
        <div class="bar_right">
        </div>
    </div>
    <div id="homeWrap" class="wrapper">
         <div id = "header">
            <div id="headerinside">
                <a href="http://bj.58.com" target="_self" id="logo" onclick="clickLog('from=sylogo_bj');"><img src="http://img.58cdn.com.cn/ui6/index/logo.gif" alt="中文最大生活信息门户" title="58同城，让生活更简单" width="188" height="50"></a>
            </div>
        </div>
        <div class="hShadow"></div>
        <div class="navcon" id="nav"></div>
    </div>
</body>
</html>
